$CorDeFundo: #040714;
$CorDeFundoFooter: #0e0b14;
$CorTextoPrincipal: #F9F9F9;
$CorTextoSecundario: #ffdb6e;
$CorTexto3: #cacaca;
$CorTextoBotaoPrincipal: #0e0b14;
$CorLink: #67bdff;
$CorDeFundoBotaoSecundario: #00000099;
$CorDeFundoBotaoDark: #000;